In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
ag_df_raw = pd.read_csv("./age_gender_info.csv",encoding="UTF-8")

In [8]:
ag_df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지역         16 non-null     object
 1   10대미만(여자)  16 non-null     float64
 2   10대미만(남자)  16 non-null     float64
 3   10대(여자)    16 non-null     float64
 4   10대(남자)    16 non-null     float64
 5   20대(여자)    16 non-null     float64
 6   20대(남자)    16 non-null     float64
 7   30대(여자)    16 non-null     float64
 8   30대(남자)    16 non-null     float64
 9   40대(여자)    16 non-null     float64
 10  40대(남자)    16 non-null     float64
 11  50대(여자)    16 non-null     float64
 12  50대(남자)    16 non-null     float64
 13  60대(여자)    16 non-null     float64
 14  60대(남자)    16 non-null     float64
 15  70대(여자)    16 non-null     float64
 16  70대(남자)    16 non-null     float64
 17  80대(여자)    16 non-null     float64
 18  80대(남자)    16 non-null     float64
 19  90대(여자)    16 non-null     float64
 20  90대(남자)    16 non-null     float64
 21  100대(여자)   16 non-null     float64
 22  100대(남자)   16 non-null     float64
dtypes: float64(22), object(1)
memory usage: 3.0+ KB

temp[0][

In [9]:
raw_df = pd.read_csv("./train.csv")
raw_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [10]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [11]:
raw_df.describe()

,총세대수,전용면적,전용면적별세대수,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
count,2952.000000,2952.000000,2952.000000,2952.000000,2741.000000,2948.000000,2952.000000,2952.000000
mean,886.661247,44.757215,102.747967,12.921070,0.176578,3.695726,601.668360,559.768293
std,513.540168,31.874280,132.640159,10.778831,0.427408,2.644665,396.407072,433.375027
min,26.000000,12.620000,1.000000,0.000000,0.000000,0.000000,13.000000,13.000000
25%,513.500000,32.100000,14.000000,4.000000,0.000000,2.000000,279.250000,220.000000
50%,779.000000,39.930000,60.000000,11.000000,0.000000,3.000000,517.000000,487.000000
75%,1106.000000,51.562500,144.000000,20.000000,0.000000,4.000000,823.000000,770.000000
max,2568.000000,583.400000,1865.000000,55.000000,3.000000,20.000000,1798.000000,2550.000000

In [12]:
raw_df['공급유형'].unique()

array(['국민임대', '공공임대(50년)', '영구임대', '임대상가', '공공임대(10년)', '공공임대(분납)',
       '장기전세', '공공분양', '행복주택', '공공임대(5년)'], dtype=object)

In [13]:
# 원본 보존
df = raw_df.copy()

In [14]:
df.columns = ["코드", "총세대수", "임대구분", "지역", "공급유형", "전용면적", "면적별세대수", "공가수", "자격유형", "보증금", "임대료",\
             "지하철역수","버스정류장수", "주차면수", "등록차량수"]

자격 유형의 경우 일단 임의로 배제시키자

In [15]:
df.drop(["자격유형"],inplace=True, axis=1)

---

NaN값 처리 //
임대보증금, 임대료, 단지내주차면수, 지하철역 수, 버스정류장 목록에 NaN 존재.

In [16]:
# 지하철역, 버스정류장은 NaN일시 0으로 처리
df["지하철역수"].fillna(0., inplace=True)
df["버스정류장수"].fillna(0., inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   코드      2952 non-null   object
 1   총세대수    2952 non-null   int64
 2   임대구분    2952 non-null   object
 3   지역      2952 non-null   object
 4   공급유형    2952 non-null   object
 5   전용면적    2952 non-null   float64
 6   면적별세대수  2952 non-null   int64
 7   공가수     2952 non-null   float64
 8   보증금     2383 non-null   object
 9   임대료     2383 non-null   object
 10  지하철역수   2952 non-null   float64
 11  버스정류장수  2952 non-null   float64
 12  주차면수    2952 non-null   float64
 13  등록차량수   2952 non-null   float64
dtypes: float64(6), int64(2), object(6)
memory usage: 323.0+ KB

In [17]:
# 임대상가, 공공분양의 경우 보증금이 NaN
df["공급유형"][df["보증금"].isnull()].unique()

array(['임대상가', '공공분양'], dtype=object)

In [18]:
# 임대 상가는 아파트에 상가가 붙어있는 특별한 경우이고 특수한 방법으로 NaN을 제거하는것이 필요할것
df["전용면적"][df["공급유형"]=="임대상가"].unique()

array([ 32.1 ,  72.16,  12.62,  17.4 ,  22.89,  23.13,  23.25,  27.75,
        28.19,  34.8 ,  42.35,  42.4 ,  49.37,  55.17,  55.5 ,  19.69,
        27.12,  32.54,  36.43,  46.89,  49.99,  51.14, 317.17,  31.84,
        63.68, 137.49,  38.  ,  37.26,  37.41,  37.49,  37.95,  38.04,
        39.33,  54.51,  54.61,  54.91,  75.98, 109.11, 583.4 , 126.65,
        19.  ,  14.1 ,  19.31,  21.19,  22.95,  23.4 ,  27.23,  31.85,
        32.29,  35.13,  36.47,  50.08, 240.22,  54.6 ,  16.  ,  14.17,
        18.9 ,  20.52,  22.97,  25.88,  27.3 ,  29.62,  30.62,  35.91,
        44.63,  46.8 ,  18.98,  19.36,  21.46,  22.83,  27.55,  29.17,
        31.92,  32.6 ,  36.57,  72.26,  30.  ,  21.85,  21.94,  21.98,
        22.24,  23.35,  25.98,  26.53,  28.38,  28.45,  33.39,  33.51,
        36.76,  52.5 , 401.5 ,  15.  ,  19.25,  23.88,  23.91,  24.38,
        27.5 ,  28.88, 248.56,  16.57,  18.38,  20.9 ,  26.25,  28.5 ,
        33.15,  33.31,  40.39, 407.97,  61.89, 404.65,  48.9 ,  49.72,
        19.15,  82.92])

In [19]:
# 일단 0으로 치환 후 실수형으로 타입 변경
df["보증금"].fillna(0, inplace=True)
df["임대료"].fillna(0, inplace=True)
df["보증금"].replace("-",0, inplace=True)
df["임대료"].replace("-",0, inplace=True)
df["보증금"]=df["보증금"].astype(np.float64)
df["임대료"]=df["임대료"].astype(np.float64)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   코드      2952 non-null   object
 1   총세대수    2952 non-null   int64
 2   임대구분    2952 non-null   object
 3   지역      2952 non-null   object
 4   공급유형    2952 non-null   object
 5   전용면적    2952 non-null   float64
 6   면적별세대수  2952 non-null   int64
 7   공가수     2952 non-null   float64
 8   보증금     2952 non-null   float64
 9   임대료     2952 non-null   float64
 10  지하철역수   2952 non-null   float64
 11  버스정류장수  2952 non-null   float64
 12  주차면수    2952 non-null   float64
 13  등록차량수   2952 non-null   float64
dtypes: float64(8), int64(2), object(4)
memory usage: 323.0+ KB

In [20]:
# 공공분양의 경우 같은 지역 아파트들의 평균보증금, 임대료로 입력
locs_ = {}
locs2_ = {}
NaNList = {}
for loc in df["지역"].unique():
    locs_[loc] = df["보증금"][df["지역"] == loc][df["보증금"] != 0].mean()
    locs2_[loc] = df["임대료"][df["지역"] == loc][df["임대료"] != 0].mean()
    NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()

for loc in df["지역"].unique():
    for index in NaNList[loc]:
        df.보증금[index] = round(locs_[loc],0)
        df.임대료[index] = round(locs2_[loc],0)

# for loc in df.loc[df.보증금==0,"지역"].unique():
#     print(df[(df.지역==loc)&(df.임대료==0.)])
#     df[df["공급유형"] == "공공분양"][df["보증금"]==0][df["지역"] == i] = locs_[i]
#     df[df["공급유형"] == "공공분양"][df["임대료"]==0][df["지역"] == i] = locs2_[i]

<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  NaNList[loc]=df[df["보증금"]==0][df["공급유형"]=="공공분양"][df["지역"]==loc].index.tolist()
<ipython-input-20-787a3b9b1ccd>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.보증금[index] = round(locs_[loc],0)
<ipython-input-20-787a3b9b1ccd>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.임대료[index] = round(locs2_[loc],0)

여기까지 NaN 처리 완료.

---

기타 범주형 변수 처리 // 전용면적의 경우 5단위로 잘라서 저장

In [72]:
df["전용면적"] = df["전용면적"].apply(lambda x:round(x/5,0)*5)
df["전용면적"]=df["전용면적"].astype(np.int32)

[15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85]

In [22]:
df.info()
# 코드는 groupby를 이용해 인덱스로 사용할 것이고, 나머지 임대 구분, 지역, 공급 유형을 수정한다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   코드      2952 non-null   object
 1   총세대수    2952 non-null   int64
 2   임대구분    2952 non-null   object
 3   지역      2952 non-null   object
 4   공급유형    2952 non-null   object
 5   전용면적    2952 non-null   float64
 6   면적별세대수  2952 non-null   int64
 7   공가수     2952 non-null   float64
 8   보증금     2952 non-null   float64
 9   임대료     2952 non-null   float64
 10  지하철역수   2952 non-null   float64
 11  버스정류장수  2952 non-null   float64
 12  주차면수    2952 non-null   float64
 13  등록차량수   2952 non-null   float64
dtypes: float64(8), int64(2), object(4)
memory usage: 323.0+ KB

In [80]:
df

,코드,총세대수,임대구분,지역,공급유형,전용면적,면적별세대수,공가수,보증금,임대료,지하철역수,버스정류장수,주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,40,134,38.0,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,40,15,38.0,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,50,385,38.0,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,50,15,38.0,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,50,41,38.0,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,50,19,7.0,11346000.0,116090.0,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,50,34,7.0,14005000.0,142310.0,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,50,34,7.0,14005000.0,142310.0,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,50,114,7.0,14005000.0,142310.0,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,55,19,7.0,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [26]:
ndf = pd.DataFrame(columns=["코드", "총세대수", "지역", "공급유형", "상가수", "전용면적", "면적별 세대수", 
                          "공가수", "보증금", "임대료", "지하철역수", "버스정류장수", "주차면수", "등록차량수"])

In [105]:
loc_dict = { key: num for num, key in enumerate(df['지역'].unique().tolist())}

supply_dict = { key: num for num, key in enumerate(df['공급유형'].unique().tolist())}


houses_dict = {key:[0 for i in range(len(df["전용면적"][df["공급유형"]!="임대상가"].unique()))] for key in df["코드"].unique()}
houses_dict

for i in df.loc[:,["코드", "총세대수"]]:
    print(i)

코드
총세대수

In [29]:
for code in df["코드"].unique():
    
    temp_houses=[]
    
    temp ={"코드": code, 
           "총세대수": df["총세대수"][df["코드"]=="C2576"][0], 
           "지역":loc_dict[df["지역"][df["코드"]==code][0]], 
           "공급유형":supply_dict[df["지역"][df["코드"]==code][0]], 
           "상가수":df[df["코드"]==code][df["공급유형"]=="임대상가"].count()[0],
           area:nums for area, nums in df[df["코드"]==code][df["공급유형"]!="임대상가"]
           
           "전용면적":, 
           
           "면적별 세대수",
           
           "공가수", 
           
           "보증금", 
           
           "임대료", 
           
           "지하철역수", 
           
           "버스정류장수", 
           
           "주차면수", 
           
           "등록차량수"}

C2483
C2515
C1407
C1945
C1470
C1898
C1244
C1171
C2073
C2513
C1936
C2049
C2202
C1925
C2576
C1312
C1874
C2650
C2416
C2013
C1424
C2100
C2621
C2520
C2319
C1616
C1704
C2258
C1032
C2038
C1859
C1722
C1850
C2190
C1476
C1077
C1068
C1983
C2135
C2034
C1109
C1497
C2289
C2597
C2310
C1672
C2132
C1439
C1613
C2216
C1899
C1056
C2644
C1206
C2481
C1718
C1655
C1430
C1775
C1519
C2221
C1790
C2109
C1698
C1866
C1005
C1004
C1875
C2156
C2212
C2401
C2571
C1175
C1833
C2445
C1885
C2368
C2016
C2371
C2536
C2538
C1014
C1592
C1867
C2326
C1015
C1620
C1049
C2000
C2097
C1668
C1689
C1234
C2514
C1368
C1057
C2336
C1026
C2256
C1900
C2666
C2361
C1642
C1013
C2232
C1973
C2458
C2574
C2133
C2096
C2010
C1879
C1131
C1468
C1213
C1173
C2492
C2032
C2094
C1880
C2089
C1744
C2046
C2071
C2635
C2390
C2561
C1663
C2490
C2066
C1585
C2276
C1155
C1693
C1889
C2518
C1962
C1666
C1988
C1537
C1329
C1762
C2008
C1319
C1141
C2340
C1929
C1681
C1184
C2383
C1579
C2173
C1911
C1638
C2412
C1871
C1309
C1527
C2208
C1940
C2596
C2227
C2563
C2358
C1492
C1601
C1687
C1236
C1487
C1379
C1386
C1656
C2526
C1022
C1896
C1269
C1916
C2070
C1967
C2021
C1143
C2188
C2651
C1036
C2657
C2527
C1502
C2262
C1084
C2530
C1046
C1761
C1102
C2420
C1122
C2042
C1375
C1410
C1641
C1706
C1307
C2601
C1085
C2385
C1059
C2162
C1819
C2325
C2394
C1133
C1281
C1194
C2308
C2036
C1394
C1180
C2503
C1907
C2181
C1768
C1783
C2192
C2346
C2680
C2631
C2141
C1569
C2099
C2287
C2055
C1428
C2522
C2560
C2068
C2603
C1965
C1660
C2378
C1268
C1994
C1837
C1000
C1465
C1448
C1516
C2670
C1365
C1177
C1360
C2488
C1406
C1566
C1227
C2460
C2486
C2106
C1572
C1773
C1677
C1823
C1344
C2692
C2505
C2587
C2127
C1316
C1674
C1713
C1845
C2082
C1328
C2357
C2565
C1804
C1397
C2255
C1343
C1987
C2479
C2352
C1310
C1738
C1039
C1863
C1426
C2659
C2489
C2211
C2314
C1861
C2389
C1490
C1024
C1788
C1740
C2620
C1286
C2085
C1089
C2237
C1341
C1338
C2405
C1969
C2274
C1699
C2251
C1340
C2373
C1455
C1095
C2137
C1985
C2583
C2663
C2450
C2329
C1834
C1649
C1848
C1743
C1350
C1402
C1103
C1129
C1027
C2377
C2431
C2661
C1263
C1136
C2605
C2393
C1673
C1017
C2539
C1933
C2316
C2051
C2414
C1301
C1700
C1636
C2612
C1757
C2507
C1163
C2627
C2040
C2609
C2001
C1065
C1363
C2579
C1048
C1210
C1320
C1941
C1326
C1685
C2618
C1451
C2143
C1968
C2470
C1258
C2453
C1659
C1724
C1802
C1939
C1284
C2595
C2351
C2506
C1697
C2259
C1786
C1357
C2570
C1652
C1565
C1910
C2359
C2139
C1979
C1803
C2508
C2531
C1695
C2556
C2086
C1544
C2154
C2496
C1756
C2362
C2568
C2245
C2059
C2549
C1584
C2298
C2225
C1218
C2328
C1045
C1207
C1970
C1732
C2433
C1894
C1156
C2142
C2153
C2186
C1176
C2446
C2586
C2035
C2020
C2437
C2532

In [ ]:
df

In [ ]:
ndf = ndf.groupby(["코드"]).sum()
ndf

In [ ]:
df["전용면적"].unique()

In [ ]:
train[train["전용면적"]>80].sort_values(["단지코드"])
train["임대건물구분"].value_counts()

In [ ]:
train["전용면적"].value_counts().sort_index()

In [ ]:
plt.boxplot(train["전용면적"],vert=False)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(raw_df["등록차량수"], raw_df.drop(["등록차량수"],axis=1),test_size=.2, random_state=777)

print(x_train.shape)
print(y_test.shape)